<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <nav class="mdc-permanent-drawer">
        <div class="mdc-list-group">
            <a href="/Waste2Value" class="mdc-list-item">
                <i class="mdc-list-item__start-detail material-icons">home</i>
                Hem
            </a>
            <a href="/Waste2Value/Salj" class="mdc-list-item">
                <i class="mdc-list-item__start-detail material-icons">store</i>
                Sälj
            </a>
            <a href="/Waste2Value/Hitta" class="mdc-list-item">
                <i class="mdc-list-item__start-detail material-icons">search</i>
                Hitta
            </a>
        </div>
    </nav>
</template>