<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-wrapper">
            <h1 class="mdc-typography--display2 wastetrader-main-headline">Hitta annons</h1>
            <starcounter-include partial="{{model.Filter}}"></starcounter-include>
            <template is="dom-repeat" items="{{model.SellWaste}}">
                <starcounter-include partial="{{item}}"></starcounter-include>
            </template>
        </div>
    </template>
</template>