<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-header">
            <h1>Hitta annons</h1>
        </div>
        <div class="wastetrader-home">
            <template is="dom-repeat" items="{{model.Waste}}">
                <div class="wastetrader-card">
                    <h3>{{item.Description}}</h3>
                    <p>{{item.Quantity}} {{item.Unit}}</p>
                </div>        
            </template>
        </div>
    </template>
</template>