<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <span slot="wastetrader/header-title" class="mdc-toolbar__title">Waste2Value</span>

    <template is="declarative-shadow-dom">
        <link rel="stylesheet" href="/sys/material-components-web.min.css" />  

        <header class="mdc-toolbar mdc-toolbar--waterfall mdc-toolbar--flexible-space-maximized">
            <div class="mdc-toolbar__row">
                <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <slot name="wastetrader/header-title"></slot>
                </section>
                <section class="mdc-toolbar__section mdc-toolbar__section--align-end"></section>
            </div>
        </header>
    </template>
</template>