<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-wrapper">
            <h1 class="mdc-typography--display2 wastetrader-main-headline">Kom igång</h1>
            <div class="mdc-card wastetrader-card">
                <section class="mdc-card__primary">
                    <h2 class="mdc-card__title mdc-card__title--large">Title 1</h2>
                </section>
                <section class="mdc-card__supporting-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
                    um dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Läs mer</button>
                </section>
            </div>
            <div class="mdc-card wastetrader-card">
                <section class="mdc-card__primary">
                    <h2 class="mdc-card__title mdc-card__title--large">Title 1</h2>
                </section>
                <section class="mdc-card__supporting-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
                    um dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Läs mer</button>
                </section>
            </div>
            <div class="mdc-card wastetrader-card">
                <section class="mdc-card__primary">
                    <h2 class="mdc-card__title mdc-card__title--large">Title 1</h2>
                </section>
                <section class="mdc-card__supporting-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
                    um dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-ripple-surface" data-mdc-auto-init="MDCRipple">Läs mer</button>
                </section>
            </div>
        </div>  
        <script>mdc.autoInit();</script>
    </template>
</template>