<link rel="import" href="/sys/polymer/polymer.html">
<link rel="stylesheet" href="/WasteTrader/css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<template>
    <template is="dom-bind">
        <div class="mdc-typography">
            <starcounter-include partial="{{model.Header}}"></starcounter-include>
            <div class="mdc-toolbar-fixed-adjust wastetrader-below-toolbar">
                <starcounter-include partial="{{model.Drawer}}"></starcounter-include>
                <div class="wastetrader-below-toolbar__current-page">
                    <starcounter-include partial="{{model.CurrentPage}}"></starcounter-include>
                </div>
            </div>
        </div>
    </template>
</template>