<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="mdc-card wastetrader-card">
            <label>
                Max avstånd:
                <input value="{{model.MaxDistance$::input}}" />
            </label>
            <label>
                Min anstånd:
                <input value="{{model.MinDistance$::input}}" />
            </label>
            <label>
                Max träffar:
                <input value="{{model.MaxMatches$::input}}" />
            </label>
            <label>
                Pris per enhet:
                <input value="{{model.PricePerUnitLimit$::input}}" />
            </label>
            <label>
                Max kvantitet:
                <input value="{{model.MaxQuantity$::input}}" />
            </label>
            <label>
                Min kvantitet:
                <input value="{{model.MinQuantity$::input}}" />
            </label>
            <button value="{{model.SubmitTrigger$::click}}" onmousedown="++this.value">Sök</button>
        </div>
    </template>
</template>