<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-wrapper">
            <h1 class="mdc-typography--display2 wastetrader-main-headline">Skapa annons</h1>

            <form class="mdc-card wastetrader-card">
                <section class="mdc-card__primary">
                    <h2 class="mdc-card__title mdc-card__title--large">Beskriv ditt avfall</h2>
                </section>
                <section class="mdc-card__supporting-text">
                    <div class="mdc-textfield wastetrader-input--fullwidth">
                        <input class="mdc-textfield__input" type="text" id="wastetrader-sell-form__title" value="{{model.Waste.Title.Value$::change}}" />
                        <label class="mdc-textfield__label" for="wastetrader-sell-form__title">Titel</label>
                    </div>
                    <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent">{{model.Waste.Title.Message}}</p>

                    <div class="mdc-textfield mdc-textfield--multiline mdc-wastetrader__textfield--large">
                        <textarea rows="10" class="mdc-textfield__input" type="text" id="wastetrader-sell-form__description" value="{{model.Waste.Description$::change}}"></textarea>
                        <label class="mdc-textfield__label" for="wastetrader-sell-form__description">Beskrivning</label>
                    </div>
                    <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent">{{model.Message.Description}}</p>

                    <br />
                    <div class="mdc-textfield">
                        <input class="mdc-textfield__input" type="number" id="wastetrader-sell-form__quantity" value="{{model.Waste.Quantity$::change}}">
                        <label class="mdc-textfield__label" for="wastetrader-sell-form__quantity">Mängd</label>
                    </div>

                    <div class="mdc-textfield">
                        <input class="mdc-textfield__input" type="text" id="wastetrader-sell-form__unit" value="{{model.Waste.Unit$::change}}">
                        <label class="mdc-textfield__label" for="wastetrader-sell-form__unit">Enhet</label>
                    </div>
                    <br />
                    <div class="mdc-textfield">
                        <input class="mdc-textfield__input" type="number" id="wastetrader-sell-form__price" value="{{model.Waste.Price$::change}}" />
                        <label class="mdc-textfield__label" for="wastetrader-sell-form__price">Pris (SEK)</label>
                    </div>
                    <p class="mdc-textfield-helptext mdc-textfield-helptext--persistent">{{model.Message.Price}}</p>
                </section>
            </form>

            <button class="mdc-button mdc-button--raised mdc-button--accent" onclick="++this.value" value="{{model.SubmitTrigger$::click}}" data-mdc-auto-init="MDCRipple">Skapa</button>
        </div> 
        <script>
            (function () {
                const textfields = document.querySelectorAll('.mdc-textfield');

                for (let i = 0; i < textfields.length; i++) {
                    mdc.textfield.MDCTextfield.attachTo(textfields[i]);
                }

                mdc.autoInit();
            })();
        </script>
    </template>
</template>