<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-header">
            <h1>Skapa annons</h1>
        </div>
        <div class="wastetrader-home">
            <form class="wastetrader-card">
                <fieldset>
                    <legend>Personal info</legend>
                    <div class="form-group">
                        <label>Name
                            <input class="form-control" type="text" value="{{model.Person.Name$::change}}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Email
                            <input class="form-control" type="email" value="{{model.Person.Email$::change}}">
                        </label>
                    </div>
                </fieldset>
            </form>

            <form class="wastetrader-card">
                <fieldset>
                    <legend>Waste info</legend>
                    <div class="form-group">
                        <label>Description
                            <input class="form-control" type="text" value="{{model.Waste.Description$::change}}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Quantity
                            <input class="form-control" type="email" value="{{model.Waste.Quantity$::change}}">
                        </label>
                    </div>
                </fieldset>
            </form>

            <form class="wastetrader-card">
                <fieldset>
                    <legend>Actions</legend>
                    <button class="btn btn-success" value="{{model.SubmitTrigger$::click}}" onclick="++this.value">Submit</button>
                </fieldset>
            </form>
        </div>       
    </template>
</template>