<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-wrapper">
            <h1 class="mdc-typography--display2 wastetrader-main-headline">Min sida</h1>
            <nav class="mdc-tab-bar" data-mdc-auto-init="MDCTabBar">
                <div class="mdc-tab" value="{{model.OpenActiveTrigger$::click}}" onclick="++this.value">Aktiva annonser</div>
                <div class="mdc-tab" value="{{model.OpenInactiveTrigger$::click}}" onclick="++this.value">Inaktiva annonser</div>
                <span class="mdc-tab-bar__indicator"></span>
            </nav>
            <template is="dom-repeat" items="{{model.WasteToDisplay}}">
                <starcounter-include partial="{{item}}"></starcounter-include>
            </template>
            <template is="dom-if" if="{{model.NoWaste}}">
                <div class="mdc-card wastetrader-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">{{model.NoWasteMessage}}</h1>
                    </section>
                </div>
            </template>
        </div>
        <script>
            (function () { mdc.autoInit(); })();
        </script>
    </template>
</template>