<link rel="import" href="/sys/polymer/polymer.html">
<link rel="import" href="/sys/puppet-redirect/puppet-redirect.html">

<template>
    <template is="dom-bind">
        <div class="mdc-card wastetrader-card wastetrader-card--clickable" on-click="openEntry">
            <section class="mdc-card__primary">
                <h1 class="mdc-card__title mdc-card__title--large">{{model.Title}}</h1>
                <h2 class="mdc-card__subtitle">{{model.FormattedQuantity}} för {{model.Price}} SEK</h2>
            </section>
            <section class="mdc-card__actions"></section>
        </div>
        <link is="puppet-redirect" history url$="{{model.RedirectUrl$}}" />
    </template>
    <script>
        (function () {
            const script = document._currentScript || document.currentScript;
            const template = script.previousElementSibling;

            template.openEntry = function () {
                template.model.RedirectUrl$ = "/Waste2Value/avfall/" + template.model.Key;
            }
        })();
    </script>
</template>