<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="mdc-card wastetrader-card">
            <section class="mdc-card__primary">
                <h2 class="mdc-card__title mdc-card__title--large">{{model.Title}}</h2>
            </section>
            <section class="mdc-card__supporting-text">
                <p>Beskrivning: {{model.Description}}</p>
                <p>Mängd: {{model.Amount}} ({{model.RawAmount}})</p>
                <p>Pris: {{model.Price}} SEK</p>
                <p>Inlagd: {{model.FormattedEntryTime}}</p>
                <p>Försäljare: <a href$="/waste2value/user/{{model.User.Username}}">{{model.User.Name}} ({{model.User.Username}})</a></p>
            </section>
            <section class="mdc-card__actions">
                <a class="mdc-button" 
                   data-mdc-auto-init="MDCRipple"
                   href$="/waste2value/avfall/{{model.Key}}">
                Läs mer
                </a>
            </section>
        </div>
        <script>mdc.autoInit()</script>
    </template>
</template>