<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <div class="mdc-card wastetrader-card">
            <section class="mdc-card__primary">
                <h2 class="mdc-card__title mdc-card__title--large">{{item.Description}}</h2>
            </section>
            <section class="mdc-card__supporting-text">
                <p>Mängd: {{model.Quantity}} {{model.Unit}}</p>
                <p>Pris: {{model.Price}}</p>
                <p>Inlagd: {{model.FormattedEntryTime}}</p>
                <p>Försäljare: <a href$="/waste2value/user/{{model.User.Username}}">{{model.User.Name}} ({{model.User.Username}})</a></p>
            </section>
        </div>
    </template>
</template>