<link rel="import" href="/sys/polymer/polymer.html">
<link rel="import" href="/sys/puppet-redirect/puppet-redirect.html">

<template>
    <template is="dom-bind">
        <div class="wastetrader-wrapper">
            <div class="mdc-card wastetrader-card--large">
                <div class="mdc-card__horizontal-block">
                    <img class="mdc-card__media-item mdc-card__media-item--2x" src="http://via.placeholder.com/200x120" />
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">{{model.Title}}</h1>
                        <h2 class="mdc-card__subtitle">{{model.Price}}:- för {{model.FormattedQuantity}}</h2>
                    </section>
                </div>
                <section class="mdc-card__supporting-text">
                    {{model.Description}}
                </section>
                <section class="mdc-card__actions">
                    <template is="dom-if" if="{{model.ShowDeleteButton}}">
                        <button class="mdc-button"
                                value="{{model.DeleteTrigger$::click}}"
                                onclick="++this.value"
                                data-mdc-auto-init="MDCRipple">
                            Radera
                        </button>
                    </template>
                </section>
            </div>
        </div>
        <script>mdc.autoInit()</script>
        <link is="puppet-redirect" history url$="{{model.RedirectUrl$}}" />
    </template>
</template>