:root {
    --mdc-theme-primary: #673AB7;
    --mdc-theme-accent: #00695C;
}

body {
    margin: 0;
    background-color: #f8f8f8;
}

.wastetrader-below-toolbar {
    display: flex;
}

.wastetrader--block {
    display: block;
}

.wastetrader-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.wastetrader-below-toolbar__current-page {
    flex-grow: 1;
}

.wastetrader-drawer--full-height {
    height: 100vh;
    background: linear-gradient(#fff 95%, #f8f8f8);
    border: none;
    box-shadow: 3px 0px 2px #eee;
}

.wastetrader-card {
    background-color: #fff;
    margin-bottom: 20px;
}

.wastetrader-card--expandable {
    overflow: hidden;
    height: 550px;
    transition: height .2s;
}

.wastetrader-card--expandable:hover {
    height: 300px;
}

.wastetrader-main-headline {
    text-align: center;
}

.wastetrader-input--fullwidth {
    width: 100%;
}

.wastetrader-input--fullwidth > .mdc-textfield__input {
    width: 100%;
}

.wastetrader__expand-icon {
    height: 24px;
    width: 24px;
    float: right;
    cursor: pointer;
    transition: transform .3s cubic-bezier(.19,0,.9,1);
}

.wastetrader__expand-icon--rotated {
    transform: rotate(180deg);
}

.wastetrader--hidden {
    height: 0;
    transition: height .3s ease-in-out;
}

.wastetrader--open {
    height: 360px;
}

.mdc-wastetrader__textfield--large {
    width: 100%;
    margin-top: 25px !important;
}

.mdc-wastetrader__textfield--large textarea {
    width: 100%;
}

.wastetrader-submit-message {
    margin-top: 5px;
}

.wastetrader-card--clickable {
    cursor: pointer;
    transition: box-shadow .2s ease-in;
}

.wastetrader-card--clickable:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .2);
}