:root {
    --mdc-theme-primary: #673AB7;
    --mdc-theme-accent: #00695C;
}

body {
    margin: 0;
}

.wastetrader-below-toolbar {
    display: flex;
}

.wastetrader--block {
    display: block;
}

.wastetrader-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.wastetrader-below-toolbar__current-page {
    flex-grow: 1;
}

.wastetrader-card {
    margin-bottom: 20px;
}

.wastetrader-main-headline {
    text-align: center;
}

.wastetrader-input--fullwidth {
    width: 100%;
}

.wastetrader__expand-icon {
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
    transition: transform .2s cubic-bezier(.19,0,.9,1);
}

.wastetrader__expand-icon--rotated {
    transform: rotate(180deg);
}

.wastetrader--hidden {
    display: none;
}

.mdc-wastetrader__textfield--large {
    width: 100%;
    margin-top: 25px !important;
}

.mdc-wastetrader__textfield--large textarea {
    width: 100%;
}